*{
  margin: 0;
  padding: 0;
}

.contenedor{
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  height: 100vh;
  padding: 2%;  
}

.numero{
  display: inline-block;
  border: 1px solid black;
  width: 20%;
  text-align: center;
  font-size: 80px;
  background-color: white;
  border-radius: 10px;
}

.botones{
width: 60%;
display: inline-block;
padding: 2%;
}
.btn{
  width: 20%;
  height: 7vh;
  font-size: 35px;
  display: block;
  margin:2% 0 2% 2%;
}

.mas{
  background: rgb(96, 236, 96);
  
}

.menos{
  background-color: rgb(245, 74, 74);
}

h2{
  color: red;
}